{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}




<header class="store-header">
<div class="top-nav">
<div class="container">
<div class="top-nav-inner center-between relative space-c-4 rtl:space-x-reverse">
<div class="right-side grow">
{% component 'footer.contacts' with {is_header:true}%}

</div>
</div>
</div>

</div>
</header>
